<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="sm jumbotron center-align">
        <h3>User Log In</h3>
      </div>
      
      <div class="row">
        <form class="col s12" novalidate  (ngSubmit)="onlogInSubmit(logIn)" #loginForm = "ngForm">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" class="validate" type="text" #Email="ngModel" name="Email"  [(ngModel)]="logIn.Email"  class="validate"  required>
              <label for="icon_prefix">Email</label>
              <span *ngIf="!Email.valid  && (Email.dirty || Email.touched)"></span>            
            </div>
            <div class="input-field col s6" >
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_Password" class="validate" type="password" #Password="ngModel" name="Password"  [(ngModel)]="logIn.Password"  [pattern]="pwdPattern" required>
              <label for="icon_Password">password//</label>
              <span *ngIf="!Password.valid && (Password.dirty || Password.touched)">password uncorect</span>            
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!loginForm.form.valid">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
        </form>
     </div>
     </div>
  </div>
  </div>

  
  
  